@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3> Por aqui você pode entrar em contato conosco!</h3>

<address>
    Endereço....<br />
    Cidade....<br />
    <abbr title="Phone">Telefone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@shield.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@shield.com</a>
</address>