@model IEnumerable<ShieldWeb.Models.tarefa>

@{
    ViewBag.Title = "Tasks";
}

<h2>Visualização de tarefas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        
        <td>
           
            @Html.ActionLink("Ver tarefa", "TaskView", new { id=item.id }) 
            
        </td>
    </tr>
}

</table>
